altgraph==0.17
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
macholib==1.14
py2exe==0.9.2.2
pyinstaller==4.5
pyinstaller-hooks-contrib==2021.2
requests==2.26.0
soupsieve==2.2.1
urllib3==1.26.6
wget==3.2
